.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.link {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 25px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
